<section class="grid grid-cols-12 gap-x-2.5 gap-y-2.5 mt-5" id="raum">
  <div
    class="col-span-12 grid grid-cols-12 lg:flex gap-2.5 items-center mb-4 lg:mb-24"
  >
    <h2 class="heading-2 col-span-4">Raum</h2>
    <div
      class="flex-0 bg-concrete-texture bg-cover h-3 lg:h-6 col-span-8 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-span-12 md:col-span-6 lg:col-span-7">
    <img
      src="./img/kz_gallery-espace.jpg?as=webp&width=2000"
      srcset="
        ./img/kz_gallery-espace.jpg?as=webp&width=375   375w,
        ./img/kz_gallery-espace.jpg?as=webp&width=900   900w,
        ./img/kz_gallery-espace.jpg?as=webp&width=1440 1440w,
        ./img/kz_gallery-espace.jpg?as=webp&width=2880 2880w
      "
      alt=""
      loading="lazy"
    />
  </div>
  <div class="lg:block hidden" aria-hidden="true"></div>
  <div class="col-span-12 md:col-span-6 lg:col-span-4">
    <div
      class="bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4 flex flex-col"
    >
      <p>
        Der Kzern ist ein mit modernsten Technologien ausgestatteter Raum zur
        Schaffung dreidimensionaler Klangräume, allgemein Immersive genannt. Es
        wurde auf dem Gelände der ehemaligen Freiburger Militärkaserne
        installiert und seit Juni 2024 ausgestattet und akustisch optimiert. Es
        bietet nun einen Hör- und Gestaltungsraum, der im Rahmen von Klangreisen
        Platz für bis zu 50 Personen oder 25 Matratzen bietet.
      </p>
      <p>
        Dieser intime Gemeinschaftsraum von 10 x 10 m eignet sich gleichermaßen
        gut für das Gefühl, einem oder mehreren Musikern im Raum zuzuhören, als
        auch für das aktive Zuhören bei der Übertragung von
        Mehrkanal-Soundwerken.
      </p>
    </div>
  </div>
  <div
    aria-hidden="true"
    class="bg-concrete-texture bg-cover col-span-12 h-[34px] lg:h-[68px] mt-4"
  ></div>
</section>
