<section class="grid grid-cols-12 gap-x-2.5 mt-5 lg:mt-0" id="technologie">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">Immersive Technologie</h2>
    <div
      class="flex-0 bg-concrete-texture bg-cover h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12 gap-x-2.5">
    <div
      class="col-span-0 relative w-full h-[0px] md:h-[350px] md:col-span-4 lg:col-span-4 bg-concrete-texture"
      id="imgs-accordion"
    >
      <img
        src="./img/kz_gallery-interface.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-interface"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
      <img
        src="./img/kz_gallery-hautparleur.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-hautparleur"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
      <img
        src="./img/kz_gallery-proj-sonore.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-proj-sonore"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
      <img
        src="./img/kz_gallery-amplification.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-amplification"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
      <img
        src="./img/kz_gallery-plugins.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-plugins"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
      <img
        src="./img/kz_gallery-logiciels.jpg?as=webp&width=1000"
        alt=""
        id="kz_gallery-logiciels"
        loading="lazy"
        class="absolute inset-0 object-contain h-full opacity-0"
      />
    </div>

    <div class="col-span-12 md:col-span-8">
      <div class="flex">
        <div class="w-1/6 lg:w-0" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="interface"
                data-img="kz_gallery-interface"
              >
                <h3 class="text-base uppercase font-semibold">Schnittstelle</h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="interface">
              <p>
                Der Ort nutzt die immersive AFC-Technologie (Audio Field
                Control), die seit 40 Jahren von der japanischen Firma Yamaha
                entwickelt wird.
              </p>
              <p>
                Mit dem Bildteil können Sie bis zu 128 Klangobjekte oder Spuren
                im 3D-Raum positionieren und manipulieren.
              </p>
              <p class="pb-2.5">
                Der Enhance-Teil bietet dem Hörer einen sogenannten Augmented
                Sound Space, der dank angepasster 3D-Codierung einen äußerst
                effizienten und austauschbaren räumlichen Nachhall ermöglicht
                und seine Flexibilität in der Nutzung erleichtert die Schaffung
                einer Vielzahl innovativer Möglichkeiten.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/6 lg:w-1/5" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="haut-parlants"
                data-img="kz_gallery-hautparleur"
              >
                <h3 class="text-base uppercase font-semibold">Lautsprecher</h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="haut-parlants">
              <p>↘ Marke NEXO</p>
              <p>↘ 32 ID24</p>
              <p>↘ 4 IDS 110</p>
              <p class="pb-2.5">↘ 2 SUB BASS CD 18</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/4 lg:w-1/5" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="projection-sonore"
                data-img="kz_gallery-proj-sonore"
              >
                <h3 class="text-base uppercase font-semibold">
                  Soundprojektion
                </h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="projection-sonore">
              <p>
                32 Lautsprecher zur Anpassung an eine Vielzahl von
                Möglichkeiten.
              </p>
              <p>
                Die periphere Verteilung in 2 Ringen von 12 Lautsprechern
                ermöglicht die Übertragung einer großen Anzahl heute verwendeter
                3D-Klangbilder in die ganze Welt (siehe
                <a href="#glossar">Glossar</a>).
              </p>
              <p>
                8 zusätzliche Diffusionspunkte können je nach Bedarf an der
                Decke, auf dem Boden oder in einem Innenring platziert werden.
              </p>
              <p class="pb-2.5">
                In Zusammenarbeit mit dem Lautsprecher Orchester Freiburg ist
                geplant, zeitweise bis zu 64 Lautsprecher installieren zu
                können.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/4 lg:w-1/5" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="col-span-4 bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="amplification"
                data-img="kz_gallery-amplification"
              >
                <h3 class="text-base uppercase font-semibold">Verstärkung</h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="amplification">
              <p>↘ 32 KANÄLE, 300W, AUSGESTATTET MIT YAMAHA DANTE</p>
              <p>↘ 4 KANÄLE, 500W, AUSGESTATTET MIT YAMAHA DANTE</p>
              <p class="pb-2.5">↘ 4 KANÄLE 500 W CAMCO</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-0 lg:w-2/5" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="plug-ins"
                data-img="kz_gallery-plugins"
              >
                <h3 class="text-base uppercase font-semibold">Plugins</h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="plug-ins">
              <p>↘ Audiostream</p>
              <p>↘ Acousmodules</p>
              <p>↘ GRM</p>
              <p>↘ Tools</p>
              <p>↘ Factory</p>
              <p>↘ SoundToys</p>
              <p>↘ Native Instrument</p>
              <p>↘ Arturia</p>
              <p class="pb-2.5">↘ Dante virtuelle Soundkarte</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/6 lg:w-2/5" aria-hidden="true"></div>
        <div class="lg:w-1/2 w-3/4 accordion">
          <div class="bg-yellow pt-2.5 px-2.5">
            <div class="w-full flex justify-between items-center pb-2.5 label">
              <button
                class="bg-none border-none w-full text-left"
                aria-expanded="false"
                aria-controls="logiciels"
                data-img="kz_gallery-logiciels"
              >
                <h3 class="text-base uppercase font-semibold">Software</h3>
              </button>
              <span class="arrow">↓</span>
            </div>
            <div class="content text-base" id="logiciels">
              <p>↘ Nuendo</p>
              <p>↘ AFC Image</p>
              <p>↘ Repear</p>
              <p>↘ Ableton</p>
              <p>↘ Spat Revolutions</p>
              <p>↘ Sound Trajectory</p>
              <p class="pb-2.5">↘ Factory</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    aria-hidden="true"
    class="bg-concrete-texture bg-cover col-span-12 h-[34px] lg:h-[68px]"
  ></div>
</section>
