<section class="grid grid-cols-12 gap-x-2.5 mt-5 lg:mt-0" id="association">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">Video</h2>
    <div
      class="flex-0 bg-concrete-texture bg-cover h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div class="lg:hidden lg:block hidden col-span-3" aria-hidden="true"></div>
  <div class="col-span-12">
      <video src="./img/kzern.webm" autoplay muted loop></video>
  <div
    aria-hidden="true"
    class="bg-concrete-texture bg-cover col-span-12 h-[34px] lg:h-[68px] mt-2.5 lg:mt-0"
  ></div>
</section>
